{% for search in searches %}
  {% if search.search_id == sessione.search_id %}
    <div class="px-3 text-center">
      <p class="mb-0 fw-bold h4">{{ search.posts }}</p>
      <p class="text-muted mb-0"><i class="fe fe-message-circle me-1"></i>Posts</p>
    </div>
    <div class="px-3 text-center">
      <p class="mb-0 fw-bold h4">{{ search.users }}</p>
      <p class="text-muted mb-0"><i class="fe fe-user me-1"></i>Users</p>
    </div>
    <div class="px-3 text-center">
      <p class="mb-0 fw-bold h4">{{ search.mentions }}</p>
      <p class="text-muted mb-0"><i class="fe fe-at-sign me-1"></i>Mentions</p>
    </div>
    <div class="px-3 text-center">
      <p class="mb-0 fw-bold h4">{{ search.hashtags }}</p>
      <p class="text-muted mb-0"><i class="fe fe-hash me-1"></i>Hashtags</p>
    </div>
    <div class="px-3 text-center">
      <p class="mb-0 fw-bold h4">{{ search.emojis }}</p>
      <p class="text-muted mb-0"><i class="fe fe-smile me-1"></i>Emojis</p>
    </div>
  {% endif %}
{% endfor %}
